body.landing.bg {
  /*background-image: url(../images/mockups/1440.png);*/
  /*opacity: .5;*/
  background-repeat: no-repeat;
  background-position: top center;
}

body.landing * {
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.landingWrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  overflow: hidden;
  /*width: 100%;*/
  max-width: 1440px;
  margin: 0 auto;
  box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.1);
}

.mainSection {
  width: 1440px;
  height: 800px;
  position: relative;
  overflow: hidden;
}

.mainSection h2 {
  font-family: 'PT Sans Caption', sans-serif;
  font-weight: bold;
  font-size: 44px;
  line-height: 56px;
}

.mainSection p {
  font-family: 'PT Sans', sans-serif;
  font-size: 21px;
  line-height: 36px;
  margin-top: 27px;
}

.mainSection.left section {
  margin: 192px 0 0 161px;
}

.mainSection.right,
.mainSection.center {
  color: white;
  background-color: #879696;
}

.mainSection.right section {
  margin: 192px 0 0 700px;
}

.mainSection.center {
  text-align: center;
  margin: 0 78px;
}

.mainSection.center section {
  margin: 189px 0 0 12px;
}

.mainSection.center p {
  margin-top: 25px;
}

.mainSection.center footer p {
  font-size: 16px;
  margin: 113px 0 0 4px;
}



#rectangle {
  width: 30px;
  height: 4px;
  background-color: rgb(80, 227, 194);
  margin: 56px 0 0 -1px;
}

.mockup {
  position: absolute;
  background-size: cover;
}

#mockup1 {
  width: 530px;
  height: 570px;
  margin: -308px 0 0 751px;
  background-image: url(../images/about.png);
  box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.1);
}

#mockup2_1 {
  width: 140px;
  height: 317px;
  margin: -310px 0 0 506px;
  background-image: url(../images/about.png);
  box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.1);
}

#mockup2_2 {
  width: 140px;
  height: 395px;
  margin: -310px 0 0 332px;
  background-image: url(../images/works.png);
  box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.1);
}

#mockup2_3 {
  width: 140px;
  height: 474px;
  margin: -313px 0 0 159px;
  background-image: url(../images/work.png);
  box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.1);
}

#mockup3 {
  width: 765px;
  height: 406px;
  margin: -157px 0 0 639px;
  background-image: url(../images/screens.png);
}

/*  МЕДИАЗАПРОС FIRST BREAKPOINT */



@media screen and (max-width: 1180px) {

  body.landing.bg {
    /*background-image: url(../images/mockups/1024.png);*/
    /*opacity: .5;*/
    background-position: top center;
    background-repeat: no-repeat;
  }

  .mainSection {
    width: 1180px;
    height: 568px;
  }

  .mainSection h2 {
    font-size: 30px;
    line-height: 39px;
  }

  .mainSection p {
    font-size: 16px;
    line-height: 26px;
    margin-top: 18px;
  }

  .mainSection.left section {
    margin: 137px 0 0 191px;
  }

  .mainSection.right section {
    margin: 137px 0 0 645px;
  }

  .mainSection.center {
    margin: 0 78px;
  }

  .mainSection.center section {
    margin: 137px 0 0 9px;
  }

  .mainSection.center p {
    margin: 18px 0 0 -3px;
  }

  .mainSection.center footer p {
    margin: 72px 0 0 2px;
    font-size: 13px;
  }

  #rectangle {
    width: 22px;
    height: 3px;
    margin: 42px 0;
  }

  #mockup1 {
    margin: -263px 0 0 612px;
    width: 377px;
    height: 407px;
  }

  #mockup2_1 {
    margin: -260px 0 0 192px;
    width: 100px;
    height: 227px;
  }

  #mockup2_2 {
    margin: -260px 0 0 316px;
    width: 100px;
    height: 283px;
  }

  #mockup2_3 {
    margin: -260px 0 0 438px;
    width: 100px;
    height: 339px;
  }

  #mockup3 {
    margin: -154px 0 0 532px;
    width: 540px;
    height: 288px;
  }

  .btn.large {
  margin: 41px 0 0 475px;
  }

  .btn.small {
    font-size: 13px;
    margin: 4px 0 0 491px;
  }
}


/*  МЕДИАЗАПРОС  SECOND BREAKPOINT */
@media screen and (max-width: 840px) {

  body.landing.bg {
    /*background-image: url(../images/mockups/768.png);*/
    /*opacity: .5;*/
    background-position: top center;
    background-repeat: no-repeat;
  }

  .mainSection {
    width: 840px;
    height: 1024px;
  }

  .mainSection h2 {
    font-size: 30px;
    line-height: 39px;
  }

  .mainSection p {
    font-size: 16px;
    line-height: 26px;
    margin-top: 18px;
  }

  .mainSection.left section {
    margin: 137px 0 0 149px;
  }

  .mainSection.right section {
    margin: 137px 0 0 346px;
  }

  .mainSection.center {
    margin: 0 78px;
  }

  .mainSection.center p {
    margin: 18px 0 0 -3px;
  }

  .mainSection.center section {
    margin: 187px 0 0 9px;
  }

  .mainSection.center footer p {
    margin: 422px 0 0 0px;
  }

  #rectangle {
    width: 22px;
    height: 3px;
    margin: 42px 0;
  }

  #mockup1 {
    margin: 58px 0 0 148px;
    width: 541px;
    height: 584px;
  }

  #mockup2_1 {
    margin: 58px 0 0 174px;
    width: 140px;
    height: 318px;
  }

  #mockup2_2 {
    margin: 58px 0 0 346px;
    width: 140px;
    height: 397px;
  }

  #mockup2_3 {
    margin: 59px 0 0 520px;
    width: 140px;
    height: 475px;
  }

  #mockup3 {
    margin: 108px 0 0 157px;
    width: 762px;
    height: 403px;
  }

  .btn.large {
    margin: 92px 0 0 303px;
    width: 214px;
    font-size: 12px;
    height: 36px;
    line-height: 37px;
  }

  .btn.small {
    font-size: 13px;
    margin: 4px 0 0 321px;
  }
}

@media screen and (-webkit-min-device-pixel-ratio: 2) {
  #mockup1 { background-image: url(../images/about@2x.png); }
  #mockup2_1 { background-image: url(../images/about@2x.png); }
  #mockup2_2 { background-image: url(../images/works@2x.png); }
  #mockup2_3 { background-image: url(../images/work@2x.png); }
  #mockup3 { background-image: url(../images/screens@2x.png); }
}
